<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js project</title>
</head>
<body>
  <div id="divApp">  
 

     <form v-on:submit.prevent="mySubmit"    >
       <h2>Wich one is your favorite course?..</h2>
       <template  v-for="courseItem in courses "  >
       <input v-model="coursesSelect" type="checkbox"  v-bind:id="courseItem.value"  v-bind:value="courseItem.value">
       <label v-bind:for="courseItem.value">{{courseItem.value}}</label>
      </template>

       <button type="submit" >Send</button>
     </form>

 </div>


 <script src="js/vue.min.js"></script>
 <script type="text/javascript" >
 	let varApp = new Vue({
    el: '#divApp',
    data: {
     name: '' ,
     courses: [
       { name: 'Vue.js course',
         value: 'vue'  },
       { name: 'SEO course',
         value: 'seo'  },
       { name: 'growth course',
         value: 'growth'  }
     ],
     coursesSelect: []
    }
     , 
     methods: {
       mySubmit:  function () {
          console.log(this.coursesSelect)
       }
     }
   }
  );



</script>
</body>
</html>